.options{
    display: flex;
}
.abouttarot{
    margin-left: 60px;
    margin-top: 100px;
    border-radius: 50%;
}
.starttarot{
    margin-left: 60px;
    margin-top: 100px;
    border-radius: 50%;
}
.socialstarot{
    margin-left: 60px;
    margin-top: 100px;
    border-radius: 50%;
}
*{
    background-color: rgb(84, 1, 1);
}